extends layout

block content
    div.w80.tableList
        div.listHeader
            form(method="GET")
                select(name="sortOption", id="sortOption" onchange="this.form.submit()").button-like.text-sm
                    option(value="", selected=true, hidden=true) Sortuj
                    option(value='byId') Domyślne (ID)
                    option(value='byType') Typ
                    option(value="byName") Nazwa
            p.info.text-lg #{title}

            a(href="/admin/machines/create").button-like Dodaj Maszynę
        div.container
            table
                thead.inverseColor
                    tr
                        th ID
                        th Typ
                        th Nazwa
                        th Opis
                        th Usuń
                        th Edycja
                tbody
                    each machine, i in machines
                            tr(class=(i % 2 === 0 ? '' : 'inverseColor'))
                                td #{machine.id}
                                td #{machine.type}
                                td #{machine.name}
                                td #{machine.description}
                                td
                                    form(action="/admin/machines/delete/" + machine.id method="GET" onsubmit="return confirm('Czy na pewno chcesz usunąć tego użytkownika?');")
                                        button(type="submit").onlyText
                                            img(src="/images/delete-icon.png" alt="Usuń").formIcon
                                td
                                    form(action="/admin/machines/edit/" + machine.id method="GET")
                                        button(type="submit").onlyText
                                            img(src="/images/edit-icon.png" alt="Edytuj").formIcon

