extends layout
block content
    div.grid-header
        h3.info.text-lg.title Nasze Maszyny
        form(method="GET")
            select(name="sortOption", id="sortOption" onchange="this.form.submit()").button-like.text-sm
                option(value="", selected=true, hidden=true) Sortuj
                option(value='byId') Domyślne
                option(value='byName') Nazwa
                option(value="byType") Typ
    div.w80
        div.grid-container
            each machine in machines
                div.machine-item.grid-item
                    if isLoggedIn
                        div.machine-type.center-content #{machine.type}
                        div.machine-reserve.center-content
                            a(href="reservations/" + machine.id).text-green.text-bold Zarezerwuj
                    else
                        div.machine-type.center-content.rowspan2 #{machine.type}
                    div.machine-name.center-content #{machine.name}
                    div.machine-description.center-content #{machine.description}