extends layout
block content
    div.grid-header
        h3.info.text-lg.title #{title}
        form(method="GET")
            select(name="sortOption", id="sortOption" onchange="this.form.submit()").button-like.text-sm
                option(value="", selected=true, hidden=true) Sortuj
                option(value='byDate') Data Rezerwacji
                option(value='byMachineName') Nazwa Maszyny
                option(value="byMachineType") Typ Maszyny
                if !userView
                    option(value="byUserEmail") Email Rezerwującego
    div.w80
        div.grid-container
            each reservation in reservations
                div.reservation-item.grid-item
                    div.reservation_date_from.center-content
                        span.textCenter Od
                        span.textCenter #{reservation.date_from}
                    div.reservation_date_to.center-content
                        span.textCenter Do
                        span.textCenter #{reservation.date_to}
                    div.reservation_machine_type.center-content
                        span.textCenter #{reservation.machineType}
                    div.reservation_machine.center-content
                        span.textCenter #{reservation.machine}
                    div.reservation_who.center-content
                        if userView
                            - var link = '/reservations/delete/' + reservation.id
                            form(action=link method="GET")
                                button(type="submit").danger.onlyText.text-md Anuluj rezerwacje
                        else
                            span.textCenter #{reservation.user}


