extends layout

block content
    div.w80.tableList
        div.listHeader
            form(method="GET")
                select(name="sortOption", id="sortOption" onchange="this.form.submit()").button-like.text-sm
                    option(value="", selected=true, hidden=true) Sortuj
                    option(value='byId') Domyślne (ID)
                    option(value='byEmail') Email
                    option(value="bySurname") Nazwisko
                    option(value="byDate") Data Utworzenia
            p.info.text-lg #{title}

            a(href="/admin/users/create").button-like Dodaj Użytkownika
        div.container
            table
                thead.inverseColor
                    tr
                        th ID
                        th Imie
                        th Nazwisko
                        th Email
                        th Telefon
                        th Usuń
                tbody
                    each user, i in users
                        tr(class=(i % 2 === 0 ? '' : 'inverseColor'))
                            td #{user.id}
                            td #{user.given_name}
                            td #{user.surname}
                            td #{user.email}
                            td #{user.phone}
                            td
                                form(action="/admin/users/delete/" + user.id method="GET" onsubmit="return confirm('Czy na pewno chcesz usunąć tego użytkownika?');")
                                    button(type="submit").onlyText
                                        img(src="/images/delete-icon.png" alt="Usuń").formIcon


